{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^components/(.*)$",
    "^utils/(.*)$",
    "^assets/(.*)$",
    "^@fontsource/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
